@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');



:root{
    --primary-color: #0094C6;
    --secondary-color: #005E7C;
    --accent1-color: #001242;
    --accent2-color: #000022;
    
    --heading-font: 'Merienda', serif;
    --paragraph-font: 'Avantgarde', serif;
    
    --nav-background-color: #0094C6;
    --nav-link-color: #005E7C;
    --nav-hover-link-color: #001242;
    --nav-hover-background-color: #000022;
    }







body {
    font-family: "Merienda", serif;
    background-color: var(--background-color);
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    
}





.logo {
    max-width: 350px;
}

header  {
    background-color: #005E7C;
    display: grid;
    grid-template-columns: 1fr 2fr;
   

}

.nav-container {
    display: flex;
    
    
}


.nav-button {
    appearance: none;
    background-color: lightblue;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    color: #24292e;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    padding: 6px 14px;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    text-decoration: none;
    margin-left: 5%;
    margin-top: 20%;
    margin-bottom: 20%;
}

.nav-button:hover {
    background-color: white;
}





.hero {
    position: relative;
    width: 100%;
    height: 200px;
    text-align: center;
    
}

.hero img {
    display: block;
    width: 100%;
    height: auto;

}


.hero-header {
    position: absolute;
    top: 10%;
    font-size: 20px;
    width: 100%;
    color: white;
}





.article-text {
    position: absolute;
    top: 80%;
    left: 10%;
    text-align: left;
    width: 100%;
    font-weight: 500;
    color: white;
}

.client-image {
    float: right;
    max-width: 25%;
    position: absolute;
    top: 70%;
    left: 70%;
    text-align: left;
    width: 100%;
}



section h2 {
    margin-top: 40%;
    margin-left: 40%;
    font-size: xx-large;
}



.adventure {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center; 
}

.adventure .images, .photos {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    margin-top: 20px; 
    gap: 10px;
}

.adventure .images figure {
    
    text-align: center;
    margin: 0;
}

.adventure .images img {
    max-width: 100%; 
    height: auto;
    margin: 0; 
}

.adventure .images figcaption {
    font-size: 14px;
    margin-top: 5px;
}

/*A tutor helped me learn about this while i was struggling with my formatting*/
@media screen and (min-width: 1200px){
    section h2 {
        margin-top: 50%;
    }
}

.footer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    text-align: center;
}

.tt-logo {
    max-width: 20%;
}

.fb-logo {
    max-width: 20%;
}

.instagram-logo{
    max-width: 20%;
}

.wireframe {
    max-width: 20%;
}

.sociallinks{
    text-decoration: none;
}



/* Contact Us CSS*/


.info {
    background-color: rgb(189, 225, 237);
    border-radius: 1rem;
}
.info h1 {
    text-align: center;
    font-size: 3rem;
    margin: 1rem;
}

.info p {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 15px;
    font-size: 18px;
}


.photos {
    display: flex;
    justify-content: space-between;
    
}
.photos figure {
    text-align: center;
    margin: 0;
}

.photos img {
    width: 70%;
    height: 70%;


}

fieldset {
    display: grid;
    grid-gap: .75rem;
    padding: 1rem;
    margin: .25rem;
    background-color: rgb(189, 225, 237);
    border-radius: 1rem;
    border: none;
   
}

h3 {
    text-align: center;
    font-size: 2rem;
    margin: 0;
}

h4 {
    font-size: 1.5rem;
}

label {
    font-size: 1.25rem;
}

.checkbox {
    text-align: center;
}
input[type="checkbox"]{
    width: 30px;
    height: 30px;
   
}

button {
    margin: .5rem;
    background-color: rgb(40, 112, 53);
    color: white;
    font-size: 1.5rem;
    border-radius: .5rem;
}

button:hover {
    background-color: rgb(82, 171, 106);
}

iframe {
    width: 150px;
    height: 150px;
   
}