@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root{
--primary-color: #0094C6;
--secondary-color: #005E7C;
--accent1-color: #001242;
--accent2-color: #000022;

--heading-font: 'Merienda', serif;
--paragraph-font: 'Avantgarde', serif;

--nav-background-color: rgb(75, 41, 7);
--nav-link-color: red;
--nav-hover-link-color: darkred;
--nav-hover-background-color: black;
}


h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header{
    padding: 20px;
    background-color: var(--accent1-color);
}

p{
    padding: 25px;
}

nav{
    background-color: var(--nav-background-color);
    font-size: 1rem;
    display: flex;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}