* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body{
    font-family: Georgia;
}
h1{
    font-family: 'Arial Black';
    font-size: larger;
    border-bottom: 1px solid steelblue;
    color: steelblue;
}

header, .grid, footer{
    max-width: 840px;
    margin: 0 auto;
    border-top: 1px dotted black;
    text-align: center;
}
.grid {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr;

    
}

main{
    margin: 1rem;
}



main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}


aside{
    width: 20rem;
    margin: 1rem;
    border: 2px solid black;
    padding: 2rem;
    background-color: white;
    color: black;
    text-align: center;
    position: relative;
    grid-column: 1;
    grid-row: 1;

}

aside img{
    width: 200px;
    height: auto;

}
nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    color: white;
    display: block;
    padding: .5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    
}





p{
    padding: 0;
}




/* Class Selectors */

.box{
    margin: 1rem;
    border: 1px white;
    padding: 2rem;
    background-color: steelblue;
    color: white
}

aside h2{
    position: absolute;
    top: 5px;
    left: 100px;
    
}



